td {
    background-color: rgb(37, 37, 37);
    border: 0px;
    margin: 0;
}

tr {
    margin: 0;
    padding: 0;
}

td[life="1"] {
    background-color: yellow;
}

/* td[life="1"]:hover {
    border: 5px solid red;
}

td[life="0"]:hover {
    border: 5px solid green;
} */

table {
    border: 2px black solid;
    width: fit-contet;
    height: fit-contet;
}

body, html {
    height: 100%;
}

.jogo {
    height: fit-content;
    width: fit-content;
    background-color: rgb(61, 61, 61);
}

